* {
    margin: 0;
    border: 1px solid green;
}

h1 {
    text-align: center;
    margin: 50px 50px 10px;
    padding: 50px;
}

.subtitle-title {
    text-align: center;
    margin: 10px 50px 50px;
}

ul {
    text-align: center;
    background-color: aqua;
}

li {
    display: inline;
}

/* span {
    background-color: aqua;
} */