* {
    margin: 0;
    box-sizing: border-box;
    background-color: #FAEDBE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    border: 10px solid #3C8052;
}


/* index's selectors - now I am going to check if I can and how can I reuse the selectors */
h1 {
    text-align: center;
    /* margin: 50px 50px 10px; */
    padding: 50px;
    color: #3C8052;
    font-size: 100px;
    border: 5px solid #3C8052;
}

.subtitle-title {
    text-align: center;
    margin: 10px 50px 50px;
    color: #3C8052;
    font-size: 40px;
}

ul {
    text-align: center;
    
}

img {
    border-radius: 30%;
    margin-bottom: 30px;
}

.recipe-card {
    display: inline-block;
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 10px;
    border: 5px solid #3C8052;
    border-radius: 15%;
}

.btn {
    display: inline-block;
    width: 200px;
    height: auto;
    background-color: #3C8052;
    border-radius: 5%;
    padding: 10px;
    margin-top: 10px;
    font-size: auto;
    color: #FAEDBE;
    font-weight: 700;
}

/* relative pages' selectors */

.img-container {
    border: 5px solid #3C8052;
    text-align: center;
    padding: 20px;
}
.img-recipe {
    margin-bottom: 0px;
}

.desc-container {
    border: 5px solid #3C8052;
    padding: 20px;
    color: #3C8052;
}

.ing-container {
    border: 5px solid #3C8052;
    padding: 20px;
    color: #3C8052;
}

.ing-list-container {
    text-align: justify;
}

.steps-container {
    border: 5px solid #3C8052;
    padding: 20px;
    color: #3C8052;
}

.steps-sublist-container {
    text-align: justify;
}

.notes-container{
    border: 5px solid #3C8052;
    padding: 20px;
    color: #3C8052;
}

.notes-list-container {
    text-align: justify;
}

.btn-container{
    text-align: center;
    border: 5px solid #3C8052;
}

.btn-recipes{
    display: inline-block;
    width: 200px;
    height: auto;
    background-color: #3C8052;
    border-radius: 5%;
    padding: 10px;
    font-size: auto;
    color: #FAEDBE;
    font-weight: 700;
    margin: 10px;
}
